.banner {

    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 40vh;
}
.page {
    text-align: center;
    margin: 20px 700px;
}
.descriptif {
    margin-left: 50px;
}

.cards i {
    color: rgb(0, 102, 255);
    font-size: 2rem;
}
.card-body {
  margin: 15px 0px;
}

.card:hover {
    background-color: #efefef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-body p , .card-body2 p , .card-body3 p{
    margin-left: 30px;
  }
  .card-body2 {
    padding-bottom:104px ;
    margin-top:30px ;
  }
  .card-body3{
    padding-bottom: 80px;
    margin-top:30px ;
  }
 .card-title {
    margin: 50px;
 }

 .separate3 {
  width: 25%;
  margin: auto;
 }