.icon {
  color: gray;
  margin: 5px;
  font-size: x-large;
}

.icon:hover {
  color: lightgray;
}

.reseaux {
  margin-top: 15px;
}

.title1, .title2 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

address, ul {
  text-align: left;
}
.container li:hover , .container a:hover{
  font-weight: bold;
}

@media (max-width: 768px) {
  .profil, .liens, .realisations {
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .profil, .liens, .realisations {
    padding: 10px 10px;
  }
}
